<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ path_for('home') }}">Saptalabs</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{ path_for('home') }}">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if auth.check %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ auth.user.name }} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ path_for('auth.password.change') }}">Change Password</a></li>
              <li><a href="{{ path_for('auth.signout') }}">Sign out</a></li>
            </ul>
          </li>
        {% else %}
          <li><a href="{{ path_for('auth.signup') }}">Sign up</a></li>
          <li><a href="{{ path_for('auth.signin') }}">Sign in</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>